
body{
	background: #FDF5E6;
}

p{
	text-align: center
}


.principal{
	background: #f2cbcb;

	padding: 30px;
}

#banner {
	width: 100%;

}

strong {
	color:#DB7093 ;
}
h1 {
	color: #FF1493;
}

h2 {
	color:  #8B008B;
}
.itens {
	font-style: italic;
}

.benefícios{
	background: #D8BFD8;
	padding: 20px;
}

h2{
	text-align: center;
}

ul{
	display: inline-block;
	vertical-align: top;
	width: 23%;
	margin-right: 22%;
}

.imagembenefícios{
	width: 50%;
}
