
body{
	background: #FDF5E6;
}

p{
	text-align: center
}


.principal{
	background: #f2cbcb;

	padding: 30px;
}

#banner {
	width: 100%;

}

strong {
	color:#DB7093 ;
}

h1{
	background:#ffe5f0 ;
	color: #1C1C1C;
	padding: 30px;
	font-size: 50px;
}

h2 {
	color: #FF1493;
}

h3 {
	color:  #8B008B;
}
.itens {
	font-style: italic;
}

.benefícios{
	background: #D8BFD8;
	padding: 20px;
}

h3{
	text-align: center;
}

ul{
	display: inline-block;
	vertical-align: top;
	width: 23%;
	margin-right: 22%;
}

.imagembenefícios{
	width: 50%;
}

.titulo-centralizado{
	text-aling: center 
}
.titulo-principal{
	padding-left: 50px;
}